In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [102]:
# tidyness issue - structural issues of dataframe, merging of dataframes
# Quality issues- inconsistency in dataframe

In [103]:
# pd.read_excel`("gun_data.xlsx")

In [104]:
pd.read_csv("U.S. Census Data.csv").T.head()

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...","Persons 65 years and over, percent, April 1, 2010",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
Fact Note,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Either no or too few sample observations were ...,Suppressed to avoid disclosure of confidential...,Fewer than 25 firms,Footnote on this item in place of data,Not available,Suppressed; does not meet publication standards,Not applicable,Value greater than zero but less than half uni...
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,13.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
new_column = list(df.iloc[0,:])

In [106]:
df.columns = new_column
df_1 = df.iloc[2:,:]

In [121]:
df_1.reset_index(inplace = True)

In [122]:
df_1.rename(columns = {"index" : "Country_name"}).head()

,Country_name,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
0,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,California,"39,250,017","37,254,522",5.40%,"37,253,956",6.30%,6.80%,23.20%,25.00%,13.60%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
## we want to remove commas, % and dollar sign

In [110]:
# df_1.dropna(inplace = True)
df_1.head()

,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)","Persons 65 years and over, percent, April 1, 2010",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,13.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,14.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
California,"39,250,017","37,254,522",5.40%,"37,253,956",6.30%,6.80%,23.20%,25.00%,13.60%,11.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
df_1.columns

Index([                                                                                 'index',
                                                 'Population estimates, July 1, 2016,  (V2016)',
                                           'Population estimates base, April 1, 2010,  (V2016)',
        'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
                                                            'Population, Census, April 1, 2010',
                                       'Persons under 5 years, percent, July 1, 2016,  (V2016)',
                                                'Persons under 5 years, percent, April 1, 2010',
                                      'Persons under 18 years, percent, July 1, 2016,  (V2016)',
                                               'Persons under 18 years, percent, April 1, 2010',
                                  'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
                                            'Persons 65 years and over, percent, April 1, 2010',
                                             'Female persons, percent,  July 1, 2016,  (V2016)',
                                                       'Female persons, percent, April 1, 2010',
                                                 'White alone, percent, July 1, 2016,  (V2016)',
                             'Black or African American alone, percent, July 1, 2016,  (V2016)',
                     'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
                                                 'Asian alone, percent, July 1, 2016,  (V2016)',
            'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
                                           'Two or More Races, percent, July 1, 2016,  (V2016)',
                                          'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
                         'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
                                                                          'Veterans, 2011-2015',
                                                     'Foreign born persons, percent, 2011-2015',
                                                       'Housing units,  July 1, 2016,  (V2016)',
                                                                 'Housing units, April 1, 2010',
                                                  'Owner-occupied housing unit rate, 2011-2015',
                                      'Median value of owner-occupied housing units, 2011-2015',
                              'Median selected monthly owner costs -with a mortgage, 2011-2015',
                           'Median selected monthly owner costs -without a mortgage, 2011-2015',
                                                                 'Median gross rent, 2011-2015',
                                                                       'Building permits, 2016',
                                                                        'Households, 2011-2015',
                                                             'Persons per household, 2011-2015',
                   'Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015',
       'Language other than English spoken at home, percent of persons age 5 years+, 2011-2015',
                  'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
                     'Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015',
                                    'With a disability, under age 65 years, percent, 2011-2015',
                               'Persons  without health insurance, under age 65 years, percent',
               'In civilian labor force, total, percent of population age 16 years+, 2011-2015',
              'In civilian labor force, female, percent of population age 16 years+, 2011-2015',
                                   'Total accommodation and food services sales, 2012 ($1,000)',
                      'Total health care and social assistance receipts/revenue, 2012 ($1,000)',
                                                 'Total manufacturers shipments, 2012 ($1,000)',
                                               'Total merchant wholesaler sales, 2012 ($1,000)',
                                                            'Total retail sales, 2012 ($1,000)',
                                                          'Total retail sales per capita, 2012',
                         'Mean travel time to work (minutes), workers age 16 years+, 2011-2015',
                                         'Median household income (in 2015 dollars), 2011-2015',
                             'Per capita income in past 12 months (in 2015 dollars), 2011-2015',
                                                                  'Persons in poverty, percent',
                                                          'Total employer establishments, 2015',
                                                                       'Total employment, 2015',
                                                          'Total annual payroll, 2015 ($1,000)',
                                                  'Total employment, percent change, 2014-2015',
                                                       'Total nonemployer establishments, 2015',
                                                                              'All firms, 2012',
                                                                        'Men-owned firms, 2012',
                                                                      'Women-owned firms, 2012',
                                                                   'Minority-owned firms, 2012',
                                                                'Nonminority-owned firms, 2012',
                                                                    'Veteran-owned firms, 2012',
                                                                 'Nonveteran-owned firms, 2012',
                                                             'Population per square mile, 2010',
                                                              'Land area in square miles, 2010',
                                                                                    'FIPS Code',
                                                                                            nan,
         'NOTE: FIPS Code values are enclosed in quotes to ensure leading zeros remain intact.',
                                                                                            nan,
                                                                                  'Value Notes',
                                                                                            '1',
                                                                                            nan,
                                                                                   'Fact Notes',
                                                                                          '(a)',
                                                                                          '(b)',
                                                                                          '(c)',
                                                                                            nan,
                                                                                  'Value Flags',
                                                                                            '-',
                                                                                            'D',
                                                                                            'F',
                                                                                           'FN',
                                                                                            nan,
                                                                                            'S',
                                                                                            'X',
                                                                                            'Z'],
      dtype='object')

In [124]:
columns_to_treat = ['Population estimates base, April 1, 2010,  (V2016)','Median household income (in 2015 dollars), 2011-2015',
    'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)']

In [189]:
df_2 = df_1[columns_to_treat]

In [190]:
df_2.head()

,"Population estimates base, April 1, 2010, (V2016)","Median household income (in 2015 dollars), 2011-2015","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)"
0,"4,780,131","$43,623",1.70%
1,"710,249","$72,515",4.50%
2,"6,392,301","$50,255",8.40%
3,"2,916,025","$41,371",2.50%
4,"37,254,522","$61,818",5.40%

In [191]:
type(df_2[df_2.columns[0]][0])

str

In [192]:
df_2[df_2.columns[1]][0]

'$43,623 '

In [193]:
df_2[df_2.columns[2]][1]

'4.50%'

In [194]:
x = "4,780,131"
int(x.replace(",","").replace("$",""))

4780131

In [195]:
y = '$43,623 '
int(y.replace("$","").strip().replace(",",""))

43623

In [196]:
"$43623"

'$43623'

In [197]:
z = "4.50%"
z_ = float(z.replace("%",''))
round(z_,3)
float("{:.3f}".format(z_))

4.5

In [198]:
"%" in z

True

In [199]:
"$" in y

True

In [200]:
"," in "$56,53,3.23"

True

In [201]:
def func_treat(row):
    if "%" in row:
        return float(row.replace("%",''))
    elif "$" in row:
        return int(row.replace("$","").strip().replace(",",""))
    elif "," in row:
        return int(row.replace(",","").replace("$",""))
    return row

In [202]:
df_2[columns_to_treat[0]][:4]

0    4,780,131
1      710,249
2    6,392,301
3    2,916,025
Name: Population estimates base, April 1, 2010,  (V2016), dtype: object

In [203]:
for columns in columns_to_treat:
    df_2[columns] = df_2[columns].apply(lambda y : func_treat(y))

C:\Users\Rotimi\AppData\Local\Temp\ipykernel_16424\1792808099.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2[columns] = df_2[columns].apply(lambda y : func_treat(y) )

In [204]:
df_2.head()

,"Population estimates base, April 1, 2010, (V2016)","Median household income (in 2015 dollars), 2011-2015","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)"
0,4780131,43623,1.7
1,710249,72515,4.5
2,6392301,50255,8.4
3,2916025,41371,2.5
4,37254522,61818,5.4

In [205]:
df_2.shape[0]

50

In [207]:
int("45247")

45247